@import "tailwindcss";

:root {
  --primary: 15 23 42;
}

.dancing-script {
  font-family: 'Dancing Script', cursive;
}

.btn-bgclr{
  background-color: #ffbe33;
}

.font-efood{
  font-family:Arial, Helvetica, sans-serif;
}